<div id="<%= dom_id beer_club %>">
  <h2><%= beer_club.name %></h2>

  <p>
    <strong>Founded:</strong>
    <%= beer_club.founded %>
  </p>

  <p>
    <strong>City:</strong>
    <%= beer_club.city %>
  </p>

  <h4>members</h4>
  <ul>
    <% beer_club.confirmed_members.each do |member| %>
      <li><%= link_to member.user.username, user_path(member.user.id) %></li>
    <% end %>
  </ul>

  <h4>membership applications</h4>
  <table class="table">
    <tbody>
      <% beer_club.not_confirmed_members.each do |member| %>
        <tr>
          <td><%= link_to member.user.username, user_path(member.user.id) %></td>
          <td>
            <% if @is_confirmed_member %>
              <%= form_with url: confirm_applicant_beer_club_path do |form| %>
                <%= form.hidden_field :user_id, value: member.user.id %>
                <%= form.submit 'confirm', class: 'btn btn-primary btn-sm' %>
                <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
