<h1>Users</h1>

<div id="users">
  <% @users.each do |user| %>
  <div class="card mb-4">
    <div class="card-body">
      <p><%= link_to(user.username, user) %></p>
      <p>Has made <%= "#{user.ratings.size}"%> ratings, average rating <%= "#{user.average_rating}" %></p>
      <% if user.favorite_beer %>
        <p>Favorite beer: <%= "#{user.favorite_beer.name}" %></p>
      <% end %>
      <% if !user.active? %>
        <span class="badge text-bg-danger">account closed</span>
      <% end %>
      </div>
  </div>
  <% end %>
</div>

<%= link_to "New user", new_user_path, class: 'btn btn-primary' %>
