<div id="<%= dom_id @user %>">

  <h2>Username:</h2>
  <p>
    <%= @user.username %>
    <% if @user.admin %>
      <span class="badge bg-secondary">Admin</span>
    <% end %>
    <% if !@user.active %>
      <span class="badge bg-primary">closed</span>
    <% end %>
  </p>

  <p>
    Has made <%= pluralize(@user.ratings.count, 'rating') %>,
     average rating <%= @user.average_rating %>
  </p>

  <% if current_user && current_user.id != @user.id %>
    <div class="mb-3">
      <% text = @user.active ? 'Change account status' : 'Open account' %>
      <%= link_to(text, 
                  toggle_status_user_path(@user.id),
                  data: { turbo_method: 'post' },
                  class: 'btn btn-danger') %>
    </div>
  <% end %>

  <h3>member of</h3>
  <table class="table table-hover table-striped">
    <tbody>
      <% @user.confirmed_memberships.each do |cc| %>
        <tr>
          <td><%= link_to cc.beer_club.name, beer_club_path(cc.beer_club.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h3>applied membership of</h3>
  <table class="table table-hover table-striped">
    <tbody>
      <% @user.not_confirmed_memberships.each do |nc| %>
        <tr>
          <td><%= link_to nc.beer_club.name, beer_club_path(nc.beer_club.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>


  <h3>ratings</h3>

  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="cil">Delete</th>
      </tr>
    </thead>
    <tbody>
      <% @user.ratings.each do |rating| %>
        <tr>
          <td><%= rating.to_s %></td>
          <% if @user == current_user %>
            <td>
              <%= link_to 'Delete', rating_path(rating.id),
                                    data: {
                                    'turbo_method': :delete,
                                    'turbo_confirm': 'Are you sure?'
                                    },
                                    class: 'link-danger' %>
            </td>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <h3>favorite style<%= "s" if @user.favorite_style.count > 1 %></h3>
  <table class="table table-hover">
    <tbody>
      <% @user.favorite_style.each do |favorite| %>
        <tr>
          <td><%= favorite %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h3>favorite <%= @user.favorite_brewery.count == 1 ? "brewery" : "breweries" %></h3>
  <table class="table table-hover">
    <tbody>
      <% @user.favorite_brewery.each do |favorite| %>
        <tr>
          <td><%= favorite.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>

<%= edit_and_destroy_buttons(@user) %>
