<h2>List of ratings</h2>

<div class="container text-center">
  <div class="row">
    <div class="col-sm-3">
      <h4>Best beers</h4>

      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Beer</th>
            <th scope="col">Average</th>
          </tr>
        </thead>
        <tbody>
          <% Beer.top(3).each do |beer| %>
            <tr>
              <td><%= beer.name %></td>
              <td><%= round_helper(beer.average_rating) %></td>
            </tr>
          <%end %>
        </tbody>
      </table>
    </div>

    <div class="col-sm-3">
      <h4>Best breweries</h4>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Brewery</th>
              <th scope="col">Average</th>
            </tr>
          </thead>
          <tbody>
            <% Brewery.top(3).each do |brewery| %>
              <tr>
                <td><%= brewery.name %></td>
                <td><%= round_helper(brewery.rating) %></td>
              </tr>
            <%end %>
          </tbody>
        </table>
    </div>

    <div class="col-sm-3">
      <h4>Best styles</h4>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Style</th>
              <th scope="col">Average</th>
            </tr>
          </thead>
          <tbody>
            <% Style.top(3).each do |style| %>
              <tr>
                <td><%= style.name %></td>
                <td><%= round_helper(style.rating) %></td>
              </tr>
            <%end %>
          </tbody>
        </table>
    </div>

  </div> <!-- row -->
</div> <!-- container -->

<div>
  <h4>Most active users</h4>
  <ol>
    <% User.top(3).each do |user| %>
      <li><%= user.name %>&nbsp;<%= user.ratings %> ratings</li>
    <% end %>
  </ol>
</div>

<div>
  <h4>Recent ratings</h4>
  <ul>
    <% Rating.recent_ratings.each do |rating| %>
      <li><%= rating.name %>&nbsp;<%= rating.time %></li>
    <% end %>
  </ul>
</div>

<%= link_to "Add new rating", new_rating_path, class: 'btn btn-primary' %>