<h1>Breweries</h1>

<% cache "brewerylist", skip_digest: true do %>
  <h2>Active</h2>
  <p>Number of active breweries: <%= @active_breweries.count %></p>

  <div id="active_breweries">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Founded</th>
          <th scope="col">Beers</th>
          <th scope="col">Rating</th>
        </tr>
      </thead>
      <tbody>
        <% @active_breweries.each do |brewery| %>
          <tr>
            <td><%= link_to brewery.name, brewery %></td>
            <td><%= brewery.year %></td>
            <td><%= brewery.beers.count %></td>
            <td><%= brewery.average_rating %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<%= link_to("New brewery", new_brewery_path, class: 'btn btn-primary') if current_user %>
<%= link_to "List of beers", beers_path, class: 'btn btn-primary' %>
