<h1>Beer places search</h1>

<p id="notice" style="color: red"><%= notice %></p>

<%= form_with url: places_path, method: :post do |form|%>
  city: <%= form.text_field :city %>
  <%= form.submit 'Search', class: 'btn btn-primary' %>
<% end %>

<br><br>

<% if @places %>
  <% if @weather %>
    <%= @weather.temperature%> Celsius<br><br>
    <img src="<%= @weather.weather_icons.first %>"><br>
    <strong>wind</strong>  <%= @weather.wind_speed%>, direction: <%= @weather.wind_dir %><br><br>
  <% end %>
  <table class="table table-hover">
    <thead>
      <% Place.rendered_fields.each do |field| %>
        <th scope="col"><%= field %></th>
      <% end %>
    </thead>
    <tbody>
      <% @places.each do |place| %>
        <tr scope="row">
          <% id = nil %>
          <% Place.rendered_fields.each do |field| %>
            <% id = place.send(field) if field == :id%>
            <% if field == :name %>
              <td><%= link_to place.send(field), place_path(id) %></td>
            <% else %>
              <td><%= place.send(field) %></td>
            <% end %>
          <% end %>
        </tr>
    </tbody>
    <% end %>
  </table>
<% end %>